<!-- Navigation -->
<nav
  class="navbar-nav ms-auto"
  id="mainNav"
  style="background-color: #212529"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#">
      {%- if site.logo -%}
      <img
        height="{{ site.logo.height | default: 52 }}"
        src="{{ site.logo.path }}"
      />
      {%- else -%} {{ site.title }} {%- endif -%}
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu<i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml">
      {% if site.locale and site.locale != "" and site.locale != nil %}
        {%- for link in site.data.navigation[site.locale].nav -%}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url }}"
            >{{ link.title }}</a
          >
          {%- elsif link.section -%}
          <a
            class="nav-link js-scroll-trigger"
            href="{{ site.baseurl }}/#{{ link.section }}"
            >{{ link.title }}</a
          >
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {%- endfor -%}
      {% else %}
        {%- for link in site.data.navigation.nav -%}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url }}"
            >{{ link.title }}</a
          >
          {%- elsif link.section -%}
          <a
            class="nav-link js-scroll-trigger"
            href="{{ site.baseurl }}/#{{ link.section }}"
            >{{ link.title }}</a
          >
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {%- endfor -%}
      {% endif %}

              <!-- Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resources
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/publications">Research</a>
              <a class="dropdown-item" href="/projects">Publications</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/contact">Projects</a>
            </div>
          </li>
  

        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
